<!DOCTYPE html>
<html lang="es" translate="no">
<head>
    <meta name="google" content="notranslate" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <!--META PWA-->
    <meta name="description" content="Aplicacion La Panerita">
    <meta name="theme-color" content="#0d6efd"><!--Da el color a la ventana-->
    <meta name="MobileOptimized" content="width">
    <meta name="HandheldFriendly" content="true"><!--Optimizacion Movil-->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"><!--Meta de APPLE-->
    <link rel="icon" href="./public/" sizes="any" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/panerita/public/img/icon.svg" sizes="any" type="image/svg+xml"><!--Icono de App-->
    <link rel="apple-touch-startup-image" href="/panerita/public/img/icon.svg" sizes="any" type="image/svg+xml"><!--Splash de App-->
    <link rel="manifest" href="/panerita/manifest.json">

    <!--LIBRERIAS-->
    <title>Distribuidora</title>
    <link rel="stylesheet" href="/panerita/public/libraries/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/panerita/public/css/style.css">
    <link rel="stylesheet" href="/panerita/public/libraries/croppie/croppie.css">
    <link rel="stylesheet" href="/panerita/public/libraries/alertify/css/alertify.min.css">
    <link rel="stylesheet" href="/panerita/public/libraries/alertify/css/themes/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="/panerita/public/libraries/bootstrap/js/bootstrap.js"></script>
    <!--<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.2.0/mdb.min.js"></script>-->
    <script src="/panerita/public/js/navbar-plus.js"></script>
    <script src="/panerita/public/libraries/page.js"></script>
    <!--<script src="./public/libraries/plotly.js"></script>-->
    <script src="/panerita/public/libraries/croppie/croppie.js"></script>
    <!--<script src="./public/libraries/moment.js"></script>
    <script src="./public/js/routes.js"></script>-->
    <script src="/panerita/public/libraries/alertify/alertify.min.js"></script>
    <script src="/panerita/public/js/app.js" type="module"></script>
    <script src="/panerita/public/js/logout.js"></script>
</head>
<body>