    <div class="container">
        <form method="POST" id="login" class="form shadow-lg p-3 mt-5 bg-white rounded col-md-6 col-lg-3 mx-auto">
            <div class="form-group" id="error">
            </div>
            <div class="form-group text-center mb-3">
                <img src="public/img/panerita-sm.svg" width="200" alt="logo" class="rounded-circle shadow-sm p-1">
            </div>
            <div class="form-group mb-3">
                <input type="text"  class="form-control shadow-sm" name="usuario" placeholder="Usuario..." maxlength="50">
            </div>
            <div class="form-group mb-3">
                <input type="password"  class="form-control shadow-sm" name="contra" placeholder="Contraseña..." maxlength="20">
            </div>
            <div class="form-group text-center">
                <button type="submit"  class="btn btn-primary">Ingresar</button>
            </div>
        </form>
    </div>
</body>
<style>
    body{
        background-image: linear-gradient(to right, rgb(0, 140, 255) , rgb(206, 206, 206));
    }
</style>