<div class="border border-light rounded pb-2" id="foto-perfil">
    <div class="rounded-top p-2 alert-info d-flex justify-content-between flex-wrap mb-4" id="sectionHeader">
        <h3 id="section-title">🖼️ Mi Foto</h3>
        <input type="file" id="archivo" name="archivo" accept="image/png, image/jpeg" style="visibility:hidden;">
    </div>
    <div id="foto"></div>
    <div class="mx-auto d-flex justify-content-center">
        <div class="btn-group" role="group" aria-label="Basic mixed styles example">
            <button class="btn btn-info btn-lg" id="izquierda" title="Rotar izquierda">↪️</button>
            <label for="archivo" class="btn btn-info active btn-lg" title="Subir Foto">📂</label>
            <button class="btn btn-info active btn-lg" id="guardar" title="Guardar Foto">💾</button>
            <button class="btn btn-info btn-lg" id="derecha" title="Rotar derecha">↩️</button>
        </div>
    </div>
</div>